<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.ataulm.artcollector.painting">

    <dist:module
        dist:onDemand="false"
        dist:title="@string/title_painting">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name=".ui.PaintingActivity"
            android:theme="@style/ArtCollector.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>
</manifest>

