<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ataulm.artcollector">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ArtCollectorApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".gallery.ui.GalleryActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="activity.primary_launcher"
            android:targetActivity=".gallery.ui.GalleryActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity-alias>

        <activity android:name=".DeepLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="art-collector.ataulm.com" />
            </intent-filter>
        </activity>

    </application>

</manifest>
